body {
    display: grid;
    grid-template-rows: 90px auto 160px;
    grid-template-columns: 280px 1fr;
    grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";

    background-color: aliceblue;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    color: lightslategray;
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    height: 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
    max-width: 300px;
}

.btn-primary {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    height: 30px;
    width: 150px;
    font-size: 14px;

}

.user {
    height: 30px;
    display: flex;
    border-left: 1px solid lightgrey;

    padding-right: 30px;

}

.user p {
    color: lightgray;
    font-size: 14px;
    margin-top: 3px;
    padding-left: 20px;
}

.user div {
    height: 40px;
    margin-left: 5px;
    margin-top: -5px;
}

.user div img {
    height: 100%;
    width: 100%;
}

/*mise en forme de la page dashboard*/
.dashboard {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: -10px;
    background-color: aliceblue;
    width: 95%;

}


.Stat {
    background-color: aliceblue;
    height: 400px;


}

.Stat>div {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.chiffre {
    width: 35%;
    height: 60%;
}

.chiffre p:first-child {
    border-left: 4px #4e73df solid;
    height: 70px;
    background-color: white;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
}

.chiffre p:nth-child(2) {
    border-left: 4px #dc3545 solid;
    height: 70px;
    background-color: white;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
}

.chiffre p:last-child {
    border-left: 4px #1cc88a solid;
    height: 70px;
    background-color: white;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
}

.classement {
    width: 50%;
    border-radius: 5px;
    margin-right: 10px;
    background: aliceblue;
    max-height: 200px;
    overflow-y: auto;
}

.classement table {
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);


}

.classement table th {
    background-color: #4e73df;
}

.classement td:hover {
    background-color: #f8f9fc;
    box-shadow:
        0 12px 24px -6px rgba(0, 0, 0, 0.16),
        0 8px 16px -8px rgba(0, 0, 0, 0.2),
        0 -4px 12px -4px rgba(0, 0, 0, 0.05);
}


/* le header de la page de mon profile */
.monProfile .user {
    height: 50px;
    width: 300px;
    margin-top: -5px;
}

.monProfile .user div {
    height: 65px;

}

.monProfile .user p {
    color: lightgray;
    font-size: 16px;
    width: 200px;
    margin-top: 12px;
}

/* ajouter une mise en forme pour la formulaire de changement de profile*/
.Modif {
    grid-area: main;
    height: 900px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
}

.Modif p {
    color: #dc3545;
    font-size: 10px;
    margin-top: -40px;
    margin-left: 185px;
    margin-bottom: -15px;
    visibility: hidden;
}




.Modif :last-child {
    height: 40px;
    width: 220px;
    margin-left: 250px;
}

.info {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    margin-bottom: 20px;

}

.info .zone_texte {
    width: 70%;
    height: 40px;
    margin-left: 180px;
    margin-top: -30px;
}

.info label {
    color: #4e73df;
    font-weight: bold;
    margin-top: 10px;
}

/*////////////////////////////////////////////////*/
nav {
    grid-area: nav;
    background-color: #4e73df;
}

nav div {

    height: 70px;
    width: 260px;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

nav div img {
    height: 100%;
    width: 46%;
    padding-bottom: 10px;
}

nav ul {
    list-style: none;

}

nav ul:nth-child(2) .nav-link {
    color: white;
    padding-bottom: 20px;
}

nav :nth-child(2) .nav-link:hover {
    color: white;
}

.nav {
    border-bottom: rgb(212, 210, 210) 1px solid;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul:last-child {
    border: 0px;
    background-color: #4e73df;
}

nav ul:last-child .nav-link {
    padding-bottom: 30px;
    color: lightgray;
}

nav ul:last-child .nav-link:hover {
    color: white;
}

/* le corp de la page projet disponible*/
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 5px 5px 5px 5px;
}

.main>div:first-child {
    background-color: #f8f9fc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    margin-top: -20px;
    margin-left: -21px;
    margin-right: -21px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: lightgray 1px solid;
    border-radius: 5px 5px 0 0;
    height: 50px;
}

.main>div:first-child>button {
    height: 50px;
    width: 50px;
    margin-top: -11px;
}

h4 {
    margin-top: 15px;
}

.Liste_Projet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Liste_Projet div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 30px;
    box-shadow: 0 0 0,
        0 0 0;
    margin-left: 0;
}

.Liste_Projet>div>p:first-child {
    border: 1px lightgray dashed;
    width: 70%;
    padding-left: 15px;
}

.Liste_Projet>div>p:first-child:hover {
    border: 0px;
    border-left: 4px #4e73df solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;


}

.Liste_Projet div p:last-child {
    width: 25%;
    border: 1px lightgrey dashed;
    text-align: center;
    padding-top: 5px;
}

.Liste_Projet div p:last-child:hover {
    border: 0px;
    border-right: 4px #1cc88a solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;

}

/* si aucun résultat trouver */
.empty {
    font-size: 28px;
    padding-top: 100px;
    padding-left: 280px;
    display: flex;
    justify-content: space-around;
}

.empty i {
    display: block;
    margin-right: 340px;
}

/*//////////////////////////////////////////////////////////////////////////*/

/* mise en forme de la corp de la page projet choisi*/
section.responsable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main h4 {
    margin-bottom: 20px;
    font-size: 19px;
}

.main div:first-child {
    margin-bottom: 25px;
}

section.responsable div {
    height: 140px;
    width: 140px;
    margin-top: -5px;

}

section.responsable div img {
    height: 100%;
    width: 100%;
}

section.responsable p {
    margin-right: 490px;
    padding-top: 45px;
    width: 300px;
}

section.detail_projet p {
    padding-bottom: 25px;
}

section.responsable {
    margin-bottom: 60px;
}

section.detail_projet {
    margin-bottom: 60px;
}

div.Montant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

div.Montant p {
    width: 30%;
    border: 1px lightgrey dashed;
    text-align: center;
    padding-top: 5px;
}

div.Montant p:last-child:hover {
    border: 0px;
    border-left: 4px solid #dc3545;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

div.Montant p:first-child:hover {
    border: 0px;
    border-left: 4px solid #4e73df;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

div.Montant p:nth-child(2):hover {
    border: 0px;
    border-left: 4px solid #1cc88a;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.donation form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
}

.donation input {
    width: 350px;
    height: 40px;
    margin-top: 15px;

}



.donation button {
    margin-right: 250px;
    margin-top: 15px;
    height: 40%;
    margin-left: -170px;
}

.donation p {
    align-self: flex-end;
    margin-left: -1450px;
    color: #dc3545;
    font-size: 10px;
    margin-bottom: 45px;
    display: none;

}

section.donation {
    margin-bottom: 60px;
}

.main>p:last-child {
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 14px;
    font-style: italic;
}


/* le corp de la remerciment*/
.remerciment {
    grid-area: main;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
        -5px -5px 15px rgba(255, 255, 255, 0.8);
    width: 600px;
    height: 300px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 50px;

}

.remerciment div {
    height: 200px;
    width: 50%;
}

.remerciment div img {
    height: 100%;
    width: 100%;
}

.remerciment p {
    margin-top: 60px;
    height: 200px;
    width: 50%;
}

.remerciment>button {
    align-self: flex-start;

}

footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

footer p {
    color: lightgray;
    font-size: 14px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}




#logo_box {

    margin-top: 10px;
    height: 140px;
    margin-right: auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);

    border-radius: 5px;
    border: 1px #dee2e6 solid;


}



#logo_box>input {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    margin-left: 20px;

}

#preview {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    width: 120px;
    height: 120px;
    ;

    border: gold solid 2px;
    border-radius: 10%;

    margin-left: -20px;
    margin-top: 5px;
}


/* progress bar dans dashboard responsable */

.progress-container {
    width: 100%;
    background: #eee;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    background: #4caf50;
    border-radius: 5px;
    color: white;
    text-align: left;
    padding-left: 5px;
    line-height: 20px;
}


.container_plus_financés {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;

}

.montant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projets_plus_financés {
    background: beige;
    margin-top: 20px;
    margin-bottom: 20px;

}

.projets_plus_financés:hover {
    background: lightgray;
    cursor: pointer;
}

.container_plus_financés>h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    align-self: center;
    color: red;
}

.detail_projet_responsable {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 2px solid lightgray;
}

.detail_projet_responsable>h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    align-self: center;
}

.detail_projet_responsable>label {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.detail_projet_responsable textarea {
    width: 100%;
    max-width: 800px;
    height: auto;
    min-height: 100px;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 10px;
    font-size: 18px;

}

.detail_projet_responsable>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.detail_projet_responsable p {
    display: none;
    color: red;
    font-weight: bold;
    size: 50px;
}

.detail_projet_responsable div input {
    width: 150px;
    height: 40px;
    margin: 4px;

}

.dashboard_responsable>.main {

    display: flex;
    flex-direction: column;

}

.liste_donateurs h3 {
    font-size: x-large;
    align-self: center;
}

#table_donateurs {
    width: 100%;
    height: 100%;
    font-size: x-large;



}

#table_donateurs tr {
    display: flex;
    gap: 100px;
    /* space between columns */
}

#table_donateurs td,#table_donateurs td  {
    flex: 1;
    /* each column takes equal width */
   
}

.dashboard_responsable>.main>.row2 {
    display: flex;
    flex-direction: row;

    justify-content: space-around;

}





#btn_ajouter_projet {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* Aligns content horizontally to the end */
    align-items: flex-end;
    /* Aligns content vertically to the end */
}

#btn_ajouter_projet img {
    width: 40px;
    height: 40px;

}